[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
freezegun = "*"
coverage = "*"
flake8 = "*"

[packages]
django = "*"
social-auth-app-django = "*"
spotipy = "*"
python-decouple = "*"
dj-database-url = "*"
djangorestframework = "*"
sentry-sdk = "*"
uvicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
